.bookHistoryTimeline {
  overflow: scroll;
  max-height: 300px;

  &__spinner {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 300px;
  }

  &__oppositeContent {
    margin: auto 0;
    text-align: right;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    min-width: 200px;
    white-space: normal;
    font-size: 0.8rem;
  }
}

.bookHistoryTimeline::-webkit-scrollbar {
  display: none;
}
