.booksTable {
  min-width: 750px;

  &__actionIcon {
    display: flex;
    align-items: center;
  }

  &__title {
    width: 35%;
    text-align: left;
  }

  &__toolBar {
    flex: 1 1 100%;
    padding: 16px;
  }
}
