.booksTable {
  min-width: 750px;
  //table-layout: fixed;

  &__actionIcon {
    display: flex;
    align-items: center;
  }

  &__title {
    width: 20%;
    text-align: left;
    word-break: break-all;

    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  &__toolBar {
    flex: 1 1 100%;
    padding: 16px;
  }
}
